<img class="icon delete-item" src="{{current.weather_icons}}" alt="{{current.weather_descriptions}}" />
<p class="delete-item">Location: <span data-field="location">{{location.name}}</span></p>
<p class="delete-item">Temperature: <span data-field="temp">{{current.temperature}}&#8451;</span></p>
<p class="delete-item">Humidity: <span data-field="humidity">{{current.humidity}}</span></p>
<p class="delete-item">Wind: <span data-field="wind">{{current.wind_speed}}kph</span></p>
<p class="delete-item">Conditions: <span data-field="conditions">{{current.weather_descriptions}}</span></p>